.awesome {
    /* padding-top: 100px; */
    padding-top: 6.25rem;
    /* padding-bottom: 116px; */
    padding-bottom: 7.25rem;
} 

.awesome-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    /* font-size: 36px; */
    font-size: 2.25rem;
    color: #212121;
    text-transform: uppercase;
}

.awesome-title::after {
    content: " ";
    display: block;
    margin: auto;
    /* width: 64px; */
    width: 4rem;
    border-top: 1px solid #d98943;
    /* margin-bottom: 34px; */
    margin-bottom: 2.125rem;
    /* margin-top: 34px; */
    margin-top: 2.125rem;
    
}


.awesome-description {
    font-family: Open Sans;
    font-weight: normal;
    /* font-size: 14px; */
    font-size: 0.875rem;
    color:#86878B;
    /* margin-bottom: 67px; */
    margin-bottom: 4.1875rem;
}

.awesome-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.awesome-row-item {
    list-style: none;
    /* max-width: 350px; */
    max-width: 21.875rem;
}

.awesome-row-circle {
    margin: auto;
    /* width: 68px; */
    width: 4.25rem;
    /* height: 68px; */
    height: 4.25rem;
    border: 1px solid #d98943;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
    margin-bottom: 1.875rem;
}

.awesome-item-title {
    /* font-size: 20px; */
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    /* margin-bottom: 16px; */
    margin-bottom: 1rem;
}

.awesome-item-description {
    /* font-size: 14px; */
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}