.footer {
    background: #000000;
    /* padding-top: 30px; */
    padding-top: 1.875rem;
    /* padding-bottom: 15px; */
    padding-bottom: 0.9375rem;
}

.footer-social-row {
    /* max-width: 317px; */
    max-width: 19.8125rem;
    margin: auto;
    /* margin-bottom: 18px; */
    margin-bottom: 1.125rem;
}

.footer-social-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-icon {
    /* font-size: 20px; */
    font-size: 1.25rem;
    color: #E2E2E2;
}

.footer-icon:hover>i {
    color: #EC7979;
    transform: scale(1.5);
    transition: 0.2s;
}

.footer-copyright {
    /* line-height: 15px; */
    line-height: 0.9357rem;
}

.copyright {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
}