.header-row {
    background: rgba(0, 0, 0, 1);
    /* padding-top: 20px; */
    padding-top: 1.25rem;
    /* padding-bottom: 19px; */
    padding-bottom: 1.1875rem;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    /* line-height: 35px; */
    line-height: 2.1875rem;
    /* min-width: 68px; */
    min-width: 4.25rem;
}

.header-logo-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    /* font-size: 30px; */
    font-size: 1.875rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-logo-text::after {
    content: "it";
    color: #EC7979;
    display: inline-block;
}

.header-nav-row {
    display: flex;
    flex-wrap: wrap;
}

.header-naw-row-item {
    /* margin-left: 48px; */
    margin-left: 3rem;
}


.header-naw-row-item-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    /* font-size: 15px; */
    font-size: 0.9375rem;
    color: rgba(255, 255, 255, 0.7);
}

.header-naw-row-item-link:hover {
    color: #EC7979;
    /* border-left: 3px solid #EC7979;
    border-bottom: 3px solid #EC7979; */
    border-left: 0.1875rem solid #EC7979;
    border-bottom: 0.1875rem solid #EC7979;
}